@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-image: url('https://i.imgflip.com/5a5xcg.png');
  color: white;
  text-align: center;
  margin-top: 100px;
  background-size: cover;
}

#app {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: #708090;
  color: white;
  height: 250px;
  padding-top: 50px;
  border: 3px black solid;
  border-bottom: 0;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#btn-container{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: #708090;
  margin-top: 0;
  padding-bottom: 50px;
  border: 3px black solid;
  border-top: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: black;
}

#main-btn{
  background-color: black;
  color: white;
  border-radius: 3px;
}

#main-btn:hover{
  background-color: #454545;
  font-size: 18px;
}
